.pageHeader {
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}